@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;   
}

/* body{
    overflow: hidden;
} */

.container{
    width: 100%;
    min-height: 100%;
    background-color: #f3f5f8;
}

.fixed-header{
    position: fixed;
    background-color: #fff;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 80px;
    height: 80px;
    z-index: 111;
}

.nav-item{
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 80px;
    height: 80px;
    z-index: 111;    
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b{
    font-size: 70px;
    color: #7f00ff;
}

.navitems{
    display: flex;
}

.navitems li{
    list-style: none;
    margin: 0 15px;
}

.navitems li a{
    font-size: 25px;
    color: rgb(61, 83, 95);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navitems li:hover a{
    color: #7f00ff;
}

.links img{
    color: #3d535f;
    margin: 25px 10px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.links img:hover{
    background-color: #7f00ff;
}

.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 8%;
    overflow: hidden;
}

.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(46deg, #7f00ff, pink);
    animation: object1 6s linear infinite;
}

.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(46deg, #7f00ff, pink);
    animation: object2 6s linear infinite;
}

@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}

@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}


.cols{
    width: 50%;
}

.cols0{
    width: 60%;
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 30px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}

h1{
    display: block;
    font-size: 2.5em;
    font-weight: 700;
    color: #3d535f;
}

.multiText{
    color: #410a78;
    text-transform: capitalize;
}

p{
    display: block;
    width: 90%;
    font-size: 1.1em;
    color: #3d535f;
}

.btns{
    width: 100%;
}


button {
    outline: none;
    border: none;
    background-color: #7f00ff;
    width: fit-content;
    color: #fff;
    padding: 8px 14px;
    margin: 15px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 400;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

button a{
    text-decoration: none;
    color: #fff;
}

button a:hover{
    color: black;
}


button a::before {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

button a:hover::before {
    transform: scaleX(1);
}

button:hover {
    border: solid 2px #3d535f;
    color: black;
}

.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img{
    position: relative;
    height: 90%;
    width: calc(130% - 80px);
    bottom: -70px;
    right: 50px;
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
    50%{
        right: 30px;
        bottom: -90px;
    }
}

@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 155%;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: rgba(7, 3, 56, 0.8); /* Fallback for unsupported browsers */
    backdrop-filter: blur(20px); /* Blurring effect */    
    /* background-color: rgba(7, 3, 56, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(8, 8, 8, 0.1); */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menubtn{
    display: none;
}

@media (max-width: 820px){
    .hideonmobile{
        display: none;
    }

    .menubtn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .flex-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item{
        gap: 45%;
    }
    
    .wrapper::before{
        height: 50%;
        width: 50%;
    }
    
    .wrapper::after{
        height: 20%;
        width: 20%;
    }
    
    .imgbox img{
        height: 90%;
        width: 90%;
        left: 70%;
    }
       
    .cols0{
        width: 80%;
        position: absolute;
    }    
}

@media (max-width: 500px){
    .topline{
        font-size: 25px;
        font-weight: 600;
    }    
    
    .cols h1{
        font-size: 30px;
    }

    .cols p{
        font-size: 15px;
    }

    button {
        font-size: 15px;
        padding: 8px 10px;
        margin: 10px 5px;   
    }
    
}


@media (max-width: 450px){
    .sidebar{
        width: 100%;
    }

    .nav-item{
        gap: 20%;
    }

    .imgbox img{
        height: 50%;
        width: 100%;
        top: 50%;
    }
}




/* Skill section css */
.skills-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5rem;
    width: 100%;
    margin: 0 auto; 
    background-color: #edeff1;
}

.skill-container-left {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.skill-heading{
    font-weight: 600;
}

.skill-container-right {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    position: relative;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


/* for right skills container blob css  */
@keyframes blobAnimation {
    50% {
        top: 54%;
        left: 56%;
    }

}

.skills-logo {
    width: 80px;
    height: 80px;
    transition: all 0.5s;
    object-fit: contain;
}

.skills-logo:hover {
    transform: scale(1.2);
}


.skill-heading {
    font-size: 50px;
    font-style: bold;
    line-height: 50px;  
}

.skill-subHeading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-subHeading p {
    margin: 15px 0;
}


@media (max-width:1024px) {
    .footer-wrapper{
        display: flex;
    }
}

@media (max-width:1300px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        padding: 2rem;
    }

    
    .skill-container-left {
        width: 100%;
        text-align: center;
    }

    .skill-container-right {
        width: 90%;
        padding-top: 2rem;
        margin-top: 2rem;
    }

    .skill-heading {
        text-align: center;
    }

    .caps {
        font-size: 60px;
    }

    .skill-subHeading {
        width: 100%;
        align-items: center;
    }

    .skill-subHeading p {
        margin: 0;
    }

    .skill-fade-text {
        bottom: -18%;
        right: -3%;
        font: 8rem;
    }
}


/* project section css  */
.project-section {
    background-color: #f3f5f8;
}

.page-header {
    font-weight: 600;
    text-align: center;
    padding-top: 30px;
}

.project-container {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.project-card {
    width: 90%;
    height: 500px;
    background-image: url(./Images/Projects/officeShare.png);
    background-size: cover;
    position: relative;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    border-radius: 10px;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
    border-radius: 10px;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: #fff;
    z-index: 10;
    opacity: 0;
}

.project-card:hover .project-number {
    opacity: 1;
}


.project-number-right {
    right: 20px;
    top: -45px;
}

.project-number-left {
    right: 2%;
    top: -30px;
}

@media only screen and (max-width: 300px) {
    .project-number-left {
        left: 1px;
        top: 1px;
    }
}


/* section for adding data ,skiils , links icon in project  */
.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 20%;
    color: #fff;
    padding: 2rem;
    z-index: 5;
    gap: 1rem;
    transition: all 0.4s;
}

.project-content-left {
    left: 10%;
}

.project-content-right {
    left: 10%;
}

.project-skills-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skills {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.project-heading {
    font-size: 50px;
    line-height: 3rem;
    font-weight: 600;
}

.project-subHeading {
    width: 70%;
    font-size: 16px;
    font-weight: 500;
}

.btn-group {
    display: flex;
    /* gap: 0.9rem; */
    align-items: center;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: var(--bgOrange);
}

.project-card:hover .project-content {
    transform: scale(1.1);
}

#project1 {
    background-image: url(./Images//Projects/SimplySimple.png);
}

#project2 {
    margin-left: 120px;
    background-image: url(./Images/Projects/officeShare.png);
}

#project3 {
    background-image: url(./Images/Projects/orderEzy.png);
}

#project4 {
    margin-left: 120px;
    background-image: url(./Images/Projects/myGlobal.png);
}

#project5 {
    background-image: url(./Images/Projects/goHobby.png);
}

#project6 {
    margin-left: 120px;
    background-image: url(./Images/Projects/mabobk.png);
}

#project7 {
    background-image: url(./Images/Projects/buitanda.png);
}

#project8 {
    margin-left: 120px;
    background-image: url(./Images/Projects/five.png);
}

#project9 {
    background-image: url(./Images/Projects/adwumapa.png);
}

@media (max-width:400px) {
    .btn-group{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .project-skills-container{
        display: none;
    }
}



@media (max-width:1300px) {
    .page-header {
        padding-top: 30px;
        color: var(--bg0range);
        font-size: 40px;
        text-align: center;
    }

    .project-container {
        align-items: center;
        padding: 5px;
        margin-top: 30px;
        margin-bottom: 50px;
        gap: 50px;
        width: 95%;
    }

    .project-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        /* height: 300px; */
    }

    .project-card {
        background-size: cover;
        background-position: center;
    }

    .project-content {
        scale: 0.8;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .project-content-left {
        left: 0;
    }

    .project-heading {
        font-size: 40px;
        width: 100%;
    }

    .project-sub-heading {
        width: 100%;
    }

    #project2 {
        margin-left: 0;
    }

    #project4 {
        margin-left: 0;
    }

    #project6 {
        margin-left: 0;
    }

    #project8 {
        margin-left: 0;
    }

    .project-skill-container {
        width: 100%;
    }

    .project-skill {
        width: 35px;
    }

    .project-card:hover .project-number {
        display: none;
    }

    .project-card:hover .project-content {
        scale: 0.8;
    }
}


/* contact us conatiner css starts here  */
.contactus-heading {
    display: flex;
    justify-content: center;
    background-color: #edeff1;
    padding: 2rem 2rem;
    font-weight: 600;
}


.contactus-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #edeff1;
}

.form {
    display: flex;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 3rem;
    flex-direction: column;
}

.formfield-container {
    width: 100%;
}

.formfield {
    width: 100%;
    font-size: 18px;
    padding: .6rem 1rem;
    border: .5px solid;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 15px 10px rgba(0,0,0,0.1);
    color: #010004;
}

label{
    font-size: 18px;
}

.formfield-textarea {
    height: auto;
    max-width: 100%;
}

.submit-icon {
    font-size: 1.5rem;
    padding: 0 1rem;
}


@media (max-width:1300px) {
    .form {
        margin-left: 0;
        width: 85%;
    }

    .contactus-form-container{
        margin: 0;
    }
}


/* footer section code  */
footer {
    position: relative;
    margin-top: -1rem;
    background-color: #7f00ff;
    padding: 1.1rem 5rem;
}

.footer-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover {
    color: rgb(69, 2, 2);
}

.icon-wrapper img{
    margin: 25px 10px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}

.icon-wrapper img:hover{
    background-color: #c7c4ca;
}


@media (max-width:750px) {
    .footer-wrapper{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:500px) {
    footer {
        padding: 0 2rem;
    }

    .icon-wrapper img{
        margin: 10px 2px;
    }
    

    .project-content{
        display: flex;
        justify-content: center;
        /* width: 100%; */
    }

    .project-content-left {
        left: 0%;
    }
    
    .project-content-right {
        left: 0%;
    }
    
    .project-heading {
        font-size: 35px;
        line-height: 3rem;
        /* width: 80%; */
        /* font-weight: 600; */
    }
    
    .project-subHeading {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
    }

    .link-wrapper{
        display: flex;
        flex-direction: column;
    }

    .footer-wrapper {
        align-items: baseline;
    }
    
}

#contact-message {
    background-color: #7f00ff; 
    color: white; 
    padding: 15px; 
    margin-top: 20px; 
    border-radius: 5px;
    font-size: 18px; 
  }  

.button-align{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px 0px 20px 0px;
}  